.search__widget,
.sorting__widget select {
  padding: 7px 15px;
  border: 1px solid #fde4e4;
  border-radius: 5px;
  cursor: pointer;
}
.search__widget input {
  border: none;
}

.search__widget input:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .search__widget {
    width: 100%;
    margin-bottom: 20px;
  }
  .search__widget input {
    width: 100%;
    font-size: 0.8rem;
  }
  .sorting__widget select {
    width: 100% !important;
    font-size: 0.8rem;
  }
}




.blind_box_order1{
  position: absolute;
  top: 620px;
  left: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #b1182b 2px solid;
}

.blind_box_order1 p{
font-size: 18px;
}

.blind_box_order1 button{
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background: #b1182b;
  color: #fff;  
}


.history_order1{
  position: absolute;
  right: 20px;
  top: 600px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #b1182b 2px solid;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.history_order1 p{
  font-size: 10px;
  margin-bottom: 0;
  }
  
  .history_list1{
    display: flex;
    flex-direction: column;
    
  }

  .listitem1{
    margin: 10px;
    border: #b1182b 2px solid;
    background: #fde4e4;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
  }
.history_dishes1{
  border: #b1182b 2px solid;
  margin: 5px;
}
  .list_info1{
    font-style: 8px;
  }
  .history_order1 button{
    font-size: 10px;
margin: 5px;
    
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background: #b1182b;
    color: #fff;  }
  
  .button_choice1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .menu{
    margin-left: 30px;
    margin-right: 30px;
  }

