
.bottompart{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.bottompart button{
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background: #b1182b;
  color: #fff;
}