.feature__subtitle {
  color: #b1182b;
}

.feature__title span {
  color: #b1182b;
}

.feature__text {
  color: #777;
}

.feature__item p {
  color: #777;
}

.food__category {
  background: #b1182b;
  text-align: center;
  margin-top: 30px;
  padding: 20px 0px;
  border-radius: 8px;
}

.food__category button {
  border: none;
  outline: none;
  padding: 7px 20px;
  background: transparent;
  color: #fff;
}

.food__category button img {
  width: 20px;
  height: 20px;
}

.foodBtnActive {
  background: #fff !important;
  border-radius: 5px;
  color: #b1182b !important;
}

.tasty__treat-title span {
  color: #b1182b;
}

.tasty__treat-desc {
  color: #777;
  line-height: 28px;
}

.choose__us-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.choose__us-title i {
  font-weight: 500 !important;
  color: #b1182b;
}

.choose__us-desc {
  color: #777;
}

.testimonial__subtitle {
  color: #b1182b;
}

.testimonial__title span {
  color: #b1182b;
}

.testimonial__desc {
  color: #777;
  line-height: 30px;
}

.blind_box_order{
  position: absolute;
  top: 250px;
  left: 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #b1182b 2px solid;
}

.blind_box_order p{
font-size: 18px;
}

.blind_box_order button{
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background: #b1182b;
  color: #fff;  
}


.history_order{
  position: absolute;
  right: 50px;
  top: 220px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #b1182b 2px solid;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.history_order p{
  font-size: 10px;
  margin-bottom: 0;
  }
  
  .history_list{
    display: flex;
    flex-direction: column;
    
  }

  .listitem{
    margin: 10px;
    border: #b1182b 2px solid;
    background: #fde4e4;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
  }
.history_dishes{
  border: #b1182b 2px solid;
  margin: 5px;
}
  .list_info{
    font-style: 8px;
  }
  .history_order button{
    font-size: 10px;
margin: 5px;
    
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background: #b1182b;
    color: #fff;  }
  
  .button_choice{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

@media only screen and (max-width: 768px) {
  .hero__content h5 {
    font-size: 1rem;
  }

  .hero__content p {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .hero__title {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .hero__btns button {
    padding: 5px 15px;
    font-size: 0.7rem;
  }

  .hero__service p {
    font-size: 0.7rem !important;
  }

  .feature__item h5 {
    font-size: 0.9rem;
  }

  .feature__item p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .feature__subtitle {
    font-size: 1rem;
  }
  .feature__text {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .food__category {
    padding: 15px;
  }
  .food__category button {
    padding: 5px 15px;
    font-size: 0.7rem;
  }

  .tasty__treat-desc {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .choose__us-title {
    font-size: 0.8rem;
  }

  .choose__us-desc {
    font-size: 0.7rem;
  }

  .testimonial__subtitle {
    font-size: 1rem;
  }
  .testimonial__desc {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero__content {
    text-align: center;
  }

  .hero__btns {
    justify-content: center;
  }

  .hero__service {
    justify-content: center;
  }
  .why__choose-us {
    padding-top: 0 !important;
  }
}
